<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid">
       <div class="collapse navbar-collapse" >
        <ul class="navbar-nav me-auto" >
            <li class="nav-item">
                <img
                width="60"
                alt="School Logo"
                src="../assets/scl_logo.jpg"
                />
            </li>
            <li ><a class="nav-link" href="student"  role="button" aria-expanded="false">
                Home
                </a>
            </li>
            <li><a class="nav-link" href="student/leave"  role="button" aria-expanded="false">
                Apply for leave
                </a>
            </li>
            <li><a class="nav-link" href="student/dropmessage"  role="button"  aria-expanded="false">
                Drop Message
                </a>
            </li>
            <li><a class="nav-link" href="student/teacherdetails"  role="button"  aria-expanded="false">
                All Teachers Details
                </a>
            </li>
            <li><a class="nav-link" href="student/payfees"  role="button" aria-expanded="false">
                Pay Fees
                </a>
            </li>
        </ul>
        <form class="d-flex">
            <button type="button" class="btn btn-info" (click)="logout()">Logout</button>
        </form>
        </div>
    </div>
</nav>